*.tmp
*.uvgui*.*

doc/doxygen/KornetDDS/*

sources/VS/Panel/.vs/*
sources/.vs/*

sources/Generator/DebugConfig/*
sources/Generator/Listings/*
sources/Generator/Objects/*
sources/Panel/DebugConfig/*
sources/Panel/Listings/*
sources/Panel/Objects/*

sources/VS/Panel/Debug/*
sources/VS/Panel/x64/*
sources/VS/Generator/x64/*
