*.out
*.tmp
*.lib
*.pdb
*.txt
JLink*.*
*~*
*$*

doc/doxygen/KornetDDS/*

sources/.vs/*
sources/DDS-VS/Panel/.vs/*

sources/Generator/DebugConfig/*
sources/Generator/Listings/*
sources/Generator/Objects/*
sources/Panel/DebugConfig/*
sources/Panel/Listings/*
sources/Panel/Objects/*

sources/VS/Panel/Debug/*
sources/VS/Panel/x64/*
sources/VS/Generator/x64/*

sources/DDS-VS/Panel/Debug/*
sources/DDS-VS/Panel/x64/*

sources/DDS-VS/Generator/x64/*
sources/DDS-VS/Generator/Debug/*

sources/DDS-Open/Panel/DebugConfig/*
sources/DDS-Open/Panel/Objects/*
sources/DDS-Open/Panel/Listings/*

sources/DDS-Open/Generator/DebugConfig/*
sources/DDS-Open/Generator/Objects/*
sources/DDS-Open/Generator/Listings/*


sources/_VS/Generator/Debug/*
sources/_VS/Panel/Debug/*
